
body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: small;
    font-weight: bold;
    color: #40514E;
   
}

h1{
    color: #66BFBF;
    font-size: 5.425rem;
    font-family: 'Sacramento', cursive;
    margin: 50px auto 0px auto ;
}

h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2rem;
    padding-bottom: 10px;
}

h3{
    color: #11999A;
    font-family: 'Merriweather', serif;
}

hr{
    border: dotted #dbdcdc 6px ;
    border-bottom: none;
    margin: 100px auto;
    width: 4%;
}

p{
    line-height: 2;
}

a{
    color:#66BFBF;
    margin: 30px 40px;
    text-decoration: none;
}

a:hover{
    color: #EAF6F6;
}

.top-container{
    background-color:#EAF6F6;
    position: relative;
    padding-top: 50px;
}

.btn:hover{
    color: #11999A;
}
.btn{
    padding-left:0.5px;
    font-family:'Merriweather', serif;
    font-size: 0.8rem;
}
.button{
    text-align: left;
}

.top-cloud{
    position: absolute;
    top: 40px;
    right: 100px;
}
.bottom-cloud{
    position: absolute;
    bottom:270px;
    left: 100px;
}

.bottom-container{
    margin: 100px 0;
}

.intro{
    width: 30%;
    margin: auto;
}

.circular{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    
}

.web-dev{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.python{
    float: right;
    margin-left: 30px;
    width: 25%;
}

.contact-message{
    width: 40%;
    margin: 40px auto 40px;
}

.foot-icon{
    color: #11999A;
    font-size: 1.5rem;
}

.icon:hover{
    color: #66BFBF;
}
